.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: LightGray;
    border-radius: 10px;
    margin: 20px;
}
.card-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    margin: 10px;
    border-radius: 10px;
}
#title{
    font-size: 20px;
}